.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--ref-text-size-100);
  font-weight: 600;
  gap: 5px;

  &.selected {
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
  }

  & .icon {
    position: relative;
    width: var(--ref-text-size-200);
    top: -1px;
  }
}

.button--nav {
  height: 2.25rem;
  width: 8.938rem;
  padding: 10px 15px;
  border-radius: 0.625rem;
  border: var(--sys-border-color--outer) 1px solid;
  background: var(--sys-button-color--nav);
}

.button--normal,
.button--normal--link {
  height: 3.1rem;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 999px;
  border: var(--sys-border-color--alternate) 1px solid;
  background: var(--sys-button-color--normal);

  &:hover {
    background: var(--sys-button-color--normal--hover);
  }
}

.button--important {
}
