.button {
    height: 2.7rem;
    alignment-baseline: top;
    background-color: white;
    border: var(--outline-black) solid 1px; /* Commenting this out gives a clean effect */
    /*outline: white solid 4px;*/
    border-radius: 999px;
    font-size: 0.9rem;
    font-weight: 550;

    /* Flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    /*text-bo: both;*/
    text-align: center;
    padding: 0 15px;
    box-sizing: border-box;

    transition: 0.2s;

    &.selected {
        background-color: var(--secondary-color-500);
        color: var(--light-100);
        border: var(--outline-selected) solid 1px;
        box-shadow: -4px 2px 0 var(--shadow-color);
    }

    &:hover {
        transform: translateY(-2px);
        transition: 0.2s;
        outline-color: var(--hover-bg);
        background-color: var(--hover-bg);
        &.selected{
            background-color: var(--selected-hover-bg);
        }
    }

    &:active {
        transform: translateY(-1.5px) scale(0.95);
        transition: 0.2s;
    }

    & .icon {
        width: 1.25rem;
    }

    /*&::before {*/
    /*    background-image: linear-gradient(to top right, #1a1a1a, transparent);*/
    /*    content: "";*/
    /*    height: 100%;*/
    /*    position: absolute;*/
    /*    width: 100%;*/
    /*}*/
}

.button--contained {
    outline: none;
    height: 2.25rem;
}

.button--important {
    border: none;
    box-shadow: 0 0 20px 5px rgba(145, 91, 224, 0.57);
    background: linear-gradient(-65deg, #592A9F 0%, #EA75FF 100%);
    color: white;
}

.button--important:hover {
    box-shadow: 0 2px 20px 5px rgba(145, 91, 224, 0.57);
}