.info-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0.6rem;
    padding: 0.5rem;
    .info-card__content {
        /*background: url("/textures/card-pattern.svg") center;*/
        /*filter: blur(100px);*/
        padding: 1rem;
        background-size: 33px 33px;
        border-radius: 0.5rem;
        height: 100%;
        width: 100%;
        /*margin: 1rem;*/
    }
}