.page-container {
    height: 100%;
    display: flex;
    padding: var(--page-margin);

    .page-container__content {
        background: var(--primary-rose-500);
        height: 100%;
        width: 100%;
        border-radius: 5vw;
        outline: 1px solid var(--outline-black);
        /*inset: 10px;*/
        /*top: 20px;*/
    }
}

#hero {
    position: absolute;
    max-width: calc(15vw + 35vh);
}