.page-container {
    height: 100%;
    display: flex;
    padding: var(--page-margin);
    background: var(--ref-palette-dark-80);

    .page-container__content {
        background:
            url("/textures/dot.svg") 0 0/1.65rem local,
            linear-gradient(0deg, var(--ref-palette-light-10--trans20), var(--ref-palette-light-10--trans20)),
            radial-gradient(
                ellipse,
                var(--ref-palette-light-10) 0%,
                var(--ref-palette-light-30) 90.87%,
                var(--ref-palette-light-30) 100%
            );
        /*background-attachment: local;*/

        height: 100%;
        width: 100%;
        border-radius: 5vw;
        outline: 1px solid var(--dark-800);
        /*z-index: 0;*/
        overflow-y: auto;
        overflow-x: hidden;
        /*        inset 0 0 2px rgba(0, 0, 0, 0.5),*/
        /*        inset 0 0 30px 0 rgba(0, 0, 0, 0.25);*/
        /*scroll-snap-type: y mandatory;*/

        .page-section {
            margin-left: auto;
            margin-right: auto;
            scroll-snap-align: center;
            /*margin-top: 6vh;*/
            padding: 6.4rem 5vw;
            /*translate: 0% 10%;*/
            height: 100%;
            box-sizing: border-box;
            max-width: 96rem;
            /*scroll-snap-stop: always;*/
            &.page-section--grid {
                display: grid;
            }

            &.page-section--flex {
                display: flex;
            }
        }
    }
}

#hero {
    max-width: calc(25vw + 30vh);
    /*padding: 5vh 0 0 0;*/
    padding-top: 6vh;
    fill: var(--ref-palette-dark-70);

    & < * {
        flex: 1 1 auto;
    }
}

.graphic__streak {
    z-index: -1;
    position: absolute;
    opacity: 80%;
    width: 120vw;
    top: 70%;
    /*transform: scale(15%);*/
    shape-rendering: geometricPrecision;
    /*image-rendering: pixelated;*/
    transform: rotate(-15deg);
    translate: -50% -50%;
    left: 50%;
    transform-origin: center;
    backface-visibility: hidden;
}

#subheading {
    font-weight: 400;
    font-size: var(--ref-text-size-300);
    letter-spacing: -0.05em;
    line-height: 1em;
    margin-bottom: 0;
}

#landing {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #hero {
    }
}

#skillsSection {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    gap: 1rem;
}
