#navbar {
  z-index: 2;
  position: fixed;
  width: 100dvw;
  height: var(--sys-navbar-height);

  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    background: var(--sys-background-color);
    /*backdrop-filter: blur(15px);*/
    /*mask-image: linear-gradient(0deg, var(--sys-background-color) 0%, #ffffff 50%);*/
    mask-mode: luminance;
    width: 100%;
    height: 100%;
  }

  & > #home-button {
    position: absolute;
    /*justify-self: start;*/
    left: 0;
  }
}
