.mono-tile {
  font-family: "Fragment Mono", monospace;
  letter-spacing: 0.01em;
  font-size: var(--ref-text-size-200);

  padding: 0.2em 0.2em;
  margin: 0.25em 0;
  border: var(--ref-palette-neutral-0) 1px solid;
  border-radius: 0.35rem;
  width: fit-content;
  /*height: fit-content;*/
}
