/*@import url('src/reset.css');*/

@import url('/fonts/fonts.css');

/*!*DEBUG PURPOSES*!*/
/*h1 {*/
/*    outline: solid 1px rgba(255, 0, 0, 0.5);*/
/*    background: red;*/
/*    background-clip: content-box, padding-box;*/
/*}*/
/*h2 {*/
/*    outline: solid 1px rgba(255, 69, 0, 0.5);*/
/*}*/
/*h3 {*/
/*    outline: solid 1px rgba(255, 165, 0, 0.5);*/
/*}*/
/*p {*/
/*    outline: solid 1px rgba(255, 255, 0, 0.5);*/
/*}*/

/* {
    outline: 1px solid #f800ff;
}*/

:root {
    /*filter: hue-rotate(0deg) saturate(50%) contrast(100%);*/
    /*--primary-rose-500: rgba(26, 27, 28, 1);*/
    /*--primary-rose-500: #388EFF;*/
    --primary-color-500: #251D31;
    --secondary-color-500: #9F77DA;
    --outline-selected: #592A9F;
    --selected-hover-bg: #8762BF;
    --light-100: #FFFFFF;
    --dark-800: #0E0E0E;
    --page-margin: 0.5rem;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --hover-bg: #d5d5d5;

    /*COLORS*/
    --ref-palette-light-10: rgba(255, 255, 255, 1);
    --ref-palette-light-10--trans20: rgba(255, 255, 255, 0.2);
    --ref-palette-light-10--trans50: rgba(255, 255, 255, 0.5);
    --ref-palette-light-20: rgb(250, 250, 250, 1);
    --ref-palette-light-30: rgba(220, 220, 220, 1);
    --ref-palette-light-40: rgba(213, 213, 213, 1);

    --ref-palette-dark-60: rgba(64, 64, 64, 1);
    --ref-palette-dark-70: rgba(39, 39, 39, 1);
    --ref-palette-dark-80: rgba(14, 14, 14, 1);
    --ref-palette-dark-80--trans20: rgba(14, 14, 14, 0.2);

    --ref-palette-blue-50: rgba(35, 127, 248, 1);
    --ref-palette-blue-70: rgba(39, 61, 255, 1);


    /* 1.25x SCALE (MAJOR THIRD) */
    --ref-text-size-80: 0.64rem;
    --ref-text-size-90: 0.8rem;
    --ref-text-size-100: 1rem;
    --ref-text-size-200: 1.25rem;
    --ref-text-size-300: 1.563rem;
    --ref-text-size-400: 1.953rem;
    --ref-text-size-500: 2.441rem;
    --ref-text-size-600: 3.052rem;
    --ref-text-size-700: 3.815rem;

    font-family: 'Raleway Variable', sans-serif;
    font-synthesis: style;
    /*color: var(--secondary-light-100);*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: filter 1s;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    font-family: "Apfel Grotezk", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    color: var(--ref-palette-dark-70);
}

h1 {
    font-weight: 500;
    font-size: var(--ref-text-size-600);
    @media screen and (max-width: 920px) {
        font-size: var(--ref-text-size-500);
    }
    letter-spacing: -0.05rem;
    line-height: 1;
    margin-bottom: 1.6rem;
}

h2 {
    font-weight: 400;
    font-size: var(--ref-text-size-300);
    @media screen and (max-width: 920px) {
        font-size: var(--ref-text-size-200);
    }
    letter-spacing: -0.04rem;
    line-height: 1;
    margin-bottom: 0.8rem;
}

p {
    font-family: 'Fragment Mono', sans-serif;
    /*font-size: 22px;*/
    font-size: clamp(var(--ref-text-size-90), var(--ref-text-size-100), var(--ref-text-size-100));
    text-wrap: pretty;
    line-height: 1.25em;
    letter-spacing: -0.05em;

    margin-bottom: 1.3rem;

    color: var(--ref-palette-dark-60);
}

b {
    font-weight: 500;
}

input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

.center-text {
    text-align: center;
}

#root {
    height: 100%;
}

a:has([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
    text-decoration: none;
    /*font: inherit;*/
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--ref-palette-dark-80--trans20) rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-track {
    background: var(--primary-color-500);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color-500) ;
    border-radius: 6px;
    border: 3px solid var(--primary-color-500);
}

.center-absolute--horizontal {
    margin-left: auto;
    margin-right: auto;
    inset:0;
    text-align: center;
}

.center-absolute--vertical {
    margin-top: auto;
    margin-bottom: auto;
    inset:0;
    text-align: center;
}

