/*@import url('src/reset.css');*/

@import url("/fonts/fonts.css");

/*!*DEBUG PURPOSES*!*/
/*h1 {*/
/*    outline: solid 1px rgba(255, 0, 0, 0.5);*/
/*    background: red;*/
/*    background-clip: content-box, padding-box;*/
/*}*/
/*h2 {*/
/*    outline: solid 1px rgba(255, 69, 0, 0.5);*/
/*}*/
/*h3 {*/
/*    outline: solid 1px rgba(255, 165, 0, 0.5);*/
/*}*/
/*p {*/
/*    outline: solid 1px rgba(255, 255, 0, 0.5);*/
/*}*/

/** {*/
/*    outline: 1px dashed #f800ff;*/
/*}*/

:root {
    /*COLORS*/
    --ref-palette-neutral-0: rgba(255, 255, 255, 1);
    --ref-palette-neutral-0--trans20: rgba(255, 255, 255, 0.2);
    --ref-palette-neutral-0--trans50: rgba(255, 255, 255, 0.5);
    --ref-palette-neutral-100: rgb(250, 250, 250, 1);
    --ref-palette-neutral-200: rgba(220, 220, 220, 1);
    --ref-palette-neutral-300: rgba(213, 213, 213, 1);

    --ref-palette-neutral-600: rgba(64, 64, 64, 1);
    --ref-palette-neutral-700: rgba(39, 39, 39, 1);
    --ref-palette-neutral-800: rgba(23, 23, 23, 1);
    --ref-palette-neutral-900: rgba(14, 14, 14, 1);
    --ref-palette-neutral-900--trans20: rgba(14, 14, 14, 0.2);

    --ref-palette-cyan-500: #1d69cd;
    --ref-palette-blue-500: #237ff8;
    --ref-palette-blue-700: #273dff;

    /* 1.25x SCALE (MAJOR THIRD) */
    --ref-text-size-80: 0.64rem;
    --ref-text-size-90: 0.8rem;
    --ref-text-size-100: 1rem;
    --ref-text-size-200: 1.25rem;
    --ref-text-size-300: 1.563rem;
    --ref-text-size-400: 1.953rem;
    --ref-text-size-500: 2.441rem;
    --ref-text-size-600: 3.052rem;
    --ref-text-size-700: 3.815rem;
    --ref-text-size-800: 4.769rem;

    --sys-background-color: var(--ref-palette-neutral-900);
    --sys-background-color--footer: var(--ref-palette-neutral-800);
    --sys-text-color--heading: var(--ref-palette-neutral-0);
    --sys-text-color--body: var(--ref-palette-neutral-200);
    --sys-text-color--alternate: var(--ref-palette-blue-500);
    --sys-border-color--outer: var(--ref-palette-neutral-600);
    --sys-border-color--inner: var(--ref-palette-neutral-700);
    --sys-border-color--alternate: var(--ref-palette-neutral-900--trans20);
    --sys-button-color--normal: var(--ref-palette-blue-500);
    --sys-button-color--normal--hover: var(--ref-palette-blue-700);
    --sys-button-color--nav: var(--ref-palette-neutral-900);
    --sys-button-color--nav--hover: var(--ref-palette-neutral-800);
    --sys-link-tile-background-color: var(--ref-palette-neutral-0);
    --sys-page-section-padding: 5rem 5rem;
    --sys-navbar-height: 3.75rem;
    --sys-scrollbar-handle: var(--ref-palette-neutral-0);
    --sys-scrollbar-gutter: var(--ref-palette-neutral-900);

    font-family: "Raleway Variable", sans-serif;
    font-synthesis: style;
    /*color: var(--secondary-light-100);*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: filter 1s;
    height: 100dvh;
    width: 100dvw;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
small {
    overflow-wrap: break-word;
    /*font-family: "Apfel Grotezk", sans-serif;*/
    height: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    color: var(--sys-text-color--heading);
}

h1 {
    font-weight: 600;
    font-size: var(--ref-text-size-600);
    letter-spacing: -0.025em;
    line-height: 1;
    margin-top: 1em;
}

h2 {
    font-weight: 400;
    font-size: var(--ref-text-size-500);
    letter-spacing: -0.04em;
    line-height: 1;
    margin-top: 0.5em;
}

h3 {
    font-weight: 400;
    font-size: var(--ref-text-size-400);
    letter-spacing: -0.025em;
    /*line-height: 1.2em;*/
    /*margin-top: 0.8em;*/
    line-height: 1em;
    margin-top: 1em;
}

h4 {
    font-weight: 400;
    font-size: var(--ref-text-size-200);
    letter-spacing: 0.01em;
    line-height: 1;
    margin-top: 1em;

    color: var(--sys-text-color--body);
}

p {
    font-weight: 400;
    font-size: var(--ref-text-size-100);
    text-wrap: pretty;
    letter-spacing: -0.025em;
    line-height: 1.4em;
    margin-top: 1em;

    color: var(--sys-text-color--body);
}

small {
    font-weight: 400;
    font-style: italic;
    font-size: var(--ref-text-size-90);
    text-wrap: pretty;
    letter-spacing: -0.025em;
    line-height: 1.4em;
    margin-top: 1em;

    color: var(--sys-text-color--alternate);
}

b {
    font-weight: 700;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.center-text {
    text-align: center;
}

#root {
    height: 100%;
}

a:has([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
    text-decoration: none;
    /*font: inherit;*/
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--sys-scrollbar-handle) var(--sys-scrollbar-gutter);
    /*scroll*/
}

/**::-webkit-scrollbar-track {*/
/*    background: var(--sys-scrollbar-gutter);*/
/*}*/

/**::-webkit-scrollbar-thumb {*/
/*    background-color: var(--sys-scrollbar-handle);*/
/*    border-radius: 6px;*/
/*    border: 3px solid var(--sys-scrollbar-handle);*/
/*}*/

.center-absolute--horizontal {
    margin-left: auto;
    margin-right: auto;
    inset: 0;
    text-align: center;
}

.center-absolute--vertical {
    margin-top: auto;
    margin-bottom: auto;
    inset: 0;
    text-align: center;
}

/*a {*/
/*    text-decoration: none;*/
/*    white-space: nowrap;*/
/*    color: #121314;*/
/*    position: relative;*/
/*}*/
/*a:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    z-index: 0;*/
/*    top: 66%;*/
/*    left: -0.1em;*/
/*    right: -0.1em;*/
/*    bottom: 0;*/
/*    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);*/
/*    !*background-color: rgba(79, 192, 141, 0.5);*!*/
/*    background-color: white;*/
/*}*/
/*a:hover:after {*/
/*    top: 0%;*/
/*}*/
