/*@import url('src/reset.css');*/

@font-face {
    font-family: 'Raleway Variable';
    src: url('/public/fonts/Raleway-VF.woff2') format('woff2-variations');
    font-weight: 200 900;
}

/* {
    outline: 1px solid #f800ff;
}*/

:root {
    /*--primary-rose-500: rgba(26, 27, 28, 1);*/
    /*--primary-rose-500: #388EFF;*/
    --primary-color-500: #251D31;
    --secondary-color-500: #9F77DA;
    --outline-selected: #592A9F;
    --light-100: #FFFFFF;
    --outline-black: #0E0E0E;
    --page-margin: 0.5rem;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --selected-hover-bg: #1c5aa6;
    --hover-bg: #d5d5d5;

    font-family: 'Raleway Variable', sans-serif;
    font-synthesis: style;
    /*color: var(--secondary-light-100);*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    color: white;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

h2 {
    font-weight: 600;
}

#root {
    height: 100%;
}

a:has([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
    text-decoration: none;
    /*font: inherit;*/
}

.center-absolute--horizontal {
    margin-left: auto;
    margin-right: auto;
    inset:0;
    text-align: center;
}

.center-absolute--vertical {
    margin-top: auto;
    margin-bottom: auto;
    inset:0;
    text-align: center;
}

