.stack-card {
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1fr;
  grid-template-areas: "title icons";

  min-height: 8rem;
  height: fit-content;
  width: 100%;
  border-radius: 2rem;
  border: var(--sys-border-color--outer) 1px solid;
  /*backdrop-filter: blur(5px);*/

  padding: 0.3rem;
  gap: 0.3rem;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    /*border-radius: 1.75rem;*/
    border: var(--sys-border-color--outer) 1px solid;

    &:nth-child(1) {
      border-radius: 1.7rem 0.75rem 0.75rem 1.7rem;
      & > * {
        margin: 0;
        font-weight: 500;
      }
    }

    &:nth-child(2) {
      border-radius: 0.75rem 1.7rem 1.7rem 0.75rem;
    }
  }

  .stack-icon-container {
    justify-content: space-evenly;
    padding: 0.5rem 5%;
    overflow-x: auto;
    min-height: 100%;
    height: fit-content;
    gap: 0.5rem;

    .stack-icon {
      /*flex: 1 1 auto;*/
      flex-shrink: 1;
      max-height: 72px;
      /*padding: 0 0.2rem;*/
      border: var(--sys-border-color--outer) 1px solid;
      border-radius: 1rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .stack-card {
    grid-template-rows: 2fr 6fr;
    grid-template-columns: auto;
    grid-template-areas: "title" "icons";

    & > div {
      &:nth-child(1) {
        border-radius: 1.7rem 1.7rem 0.75rem 0.75rem;
      }

      &:nth-child(2) {
        border-radius: 0.75rem 0.75rem 1.7rem 1.7rem;
      }
    }
  }
}
